@media print {
    .force-one-col {
        display              : grid !important;
        grid-template-columns: 1fr !important;
    }

    .force-one-col>* {
        width: 100% !important;
    }

    body {
        visibility: hidden;
        margin    : 0;
        padding   : 0;
    }

    .min-h-screen {
        min-height: auto !important;
    }

    .print-center {
        margin-left      : auto !important;
        margin-right     : auto !important;
        width            : 210mm !important; // Khổ A4 ngang: ~210mm
        page-break-inside: avoid !important;
    }

    .print-area {
        visibility      : visible;
        display         : block !important;
        position        : static !important;
        width           : 100% !important;
        max-width       : 100% !important;
        padding         : 0 !important;
        margin          : 0 auto !important;
        background-color: white !important;
        box-shadow      : none !important;
        border-radius   : 0 !important;
        overflow        : visible !important;
    }

    .print-area * {
        visibility: visible;
    }

    @page {
        size  : A4 portrait;
        margin: 0;
    }

    html,
    body {
        height  : auto !important;
        overflow: visible !important;
    }
}